form a{
    margin-left:5px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

td:first-of-type{
    height: 200px;
    width: 250px;
}

.btn{
    margin:5px;
}

.headShot{
    width: 66px;
    padding: 8px;
    border-radius: 50%;
}

#delete_review:hover{
    color: red;
    cursor: pointer;
    text-decoration: underline;
}